version: "3.9"

services:

  backend:

    build: ./backend

    container_name: aedev_backend

    restart: always

    env_file:
      - .env

    ports:
      - "127.0.0.1:3001:3001"
